body
{
	width: 100%;
}
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.name h1
{
	padding-top: 10px;
	text-align: center;
	font-size:60px;
	width: 100%;
	height: 100px;
	background-color: #49a682;
	color: #e6c11e;
}
.search
{
	display: flex;
	flex-direction: row;
	height: 30px;
	background-color: #c6c9c5;
}
.search input
{
	border: 0px solid;
	outline: none;
	width:95%;
	background-color: #c6c9c5;
}
.fa-search
{
	padding-top: 2px;
	width:5%;
	font-size: 23px;
	text-align: center;
}
.gotomain a
{
	text-decoration: none;
	font-size: 25px;
	margin-left: 5px;
	color: #0f0c0d;
	background-color:#ffd752;
}
.gotomain a:hover
{
	background-color:#49a682;
	text-decoration: underline;
}
ul
{
	list-style: none;
}
.menu a
{
	transition: transform .5s;
}
.menu a:hover
{
	transform: scale(1.3);
}
.mainmenu
{
	width: 40%;
	margin: auto;
	margin-top: 30px;
}
.menu
{
	border: 1px solid 0;
	width: 47%;
	height:400px;
	margin-top: 14px;
	margin-left: 14px;
	text-align: center;
	padding-top: 27%;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	box-shadow:  0 0 7px 4px #e7e8e3;
}
.menu:hover
{
	opacity: 0.8;
}
.fa-music
{
	font-size: 40px;
	background: linear-gradient(to right, #ab0000 0%,#f79494 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.upper
{
	display: flex;
	flex-direction: row;
}
.lower
{
	display: flex;
	flex-direction: row;
}
#first
{ 
	font-family: 'Felipa';
	background-color: #ffcdbd;
}
#first a
{
	text-decoration: none;
	color: #5c0606;
}
#second
{
	 font-family: 'Fresca';
	 background-color: #f4e6f7;
}
#second a
{
	background: linear-gradient(to right, #c97e14 0%,#b977f2 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#third
{
	font-family: 'Alex Brush';
	font-size: 22px;
	background-color: #f0f0eb;
}
#third a
{
	background: linear-gradient(to right,#293d94 0%,#8dc1f2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#fourth
{
	font-family: 'Kaushan Script';
	font-size: 22px;
	background-color: #fffffc;
}
#fourth a
{
	background: linear-gradient(to right,#048f17 0%,#abffa8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.prochainement
{
	background-color: #49a682;
	width: 20%;
	height: 45px;
	margin:auto;
	margin-top: 11px;
	margin-bottom: 30px;
	padding-top: 7px;
	border-radius: 5px;
	text-align:center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.prochainement a
{
	width:78%;
	text-decoration: none;
	color:#e6c11e;
	font-size: 21px;
	display: flex;
	flex-direction: row;
}
.dots-cont
{
	width: 21%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dot 
{
  width: 7px;
  height: 7px;
  margin-left: 1px;
  margin-top: 16px;
  background:#e6c11e;
  border-radius: 50%;
  position: relative;
}
.dots-cont .dot-1
{
  animation: wave 2000ms ease-in-out infinite;
}

.dots-cont .dot-2
{
  animation: wave 2000ms 400ms ease-in-out infinite;
 }
.dots-cont .dot-3
{
   animation: wave 2000ms 800ms ease-in-out infinite;
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}
footer
{
	position: relative;
  	position: -webkit-sticky;
  	position: sticky;
 	bottom:0.1px;
}
.contacteznous
{
	width: 100%;
	height: 50px;
	background-color: #49a682;
}
.contacteznous ul
{	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 30px;
}
.mentions
{
	width: 25%;
	margin: auto;
	margin-top: 10px;
}
.mentions a
{
	text-decoration: none;
	color:#e6c11e;
}
.mentions h4:hover
{
	animation: wiggle 75ms infinite;
 	animation-timing-function: linear;
}
@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}
.contact
{
	width: 25%; 
	margin: auto;
	margin-top: 10px;
}
.contact a
{
	text-decoration: none;
	color:#e6c11e;
}
.contact h4:hover
{
	animation: wiggle 75ms infinite;
 	animation-timing-function: linear;
}
.text
{
	min-height: 100%;
}
.text h3
{
	margin-top: 30px;
}
.text p
{
	margin-top: 20px;
}
@media screen and (max-width: 1024px)
{
	body
	{
		width: 100%;
	}
	.prochainement
	{
		width: 25%;
	}
}
@media screen and (max-width: 900px)
{
	body
	{
		width: 100%;
	}
	.upper
	{
		flex-direction: column;
	}
	.lower
	{
		flex-direction: column;
	}
	.menu
	{
		width: 90%;
		height: 400px;
		font-size: 11px;
		margin: auto;
		margin-top: 30px;
		padding-top: 40%;
	}
	.prochainement
	{
		width: 28%;
		margin: auto;
		margin-top: 18px;
		margin-bottom: 30px;
	}
	.prochainement a
	{
		font-size: 16px;
		padding-top: 6px;
	}
	.dot 
	{
  		width: 7px;
  		height: 7px;
  		margin-top: 10px;
  	}
	footer
	{
		width: 100%;
	}
	.mentions
	{
		width: 30%;
		margin-top: 10px;
	}
	.mentions a
	{
		font-size: 25px;
	}
	.contact
	{
		width: 30%;
		margin-top: 10px;
	}
	.contact a
	{
		font-size: 25px;
	}
}
@media screen and (max-width: 600px)
{
	.fa-search
	{
		padding-top: 2px;
		width:15%;
	}
	.mainmenu
	{
		width: 80%;
	}
	.menu
	{
		width:80%;
		margin: auto;
		font-size: 9px;
		margin-top: 30px;
		padding-top: 40%;
		height: 350px;
	}
	.prochainement
	{
		width: 50%;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prochainement a
	{
		font-size: 16px;
		padding-top: 5px;
	}
	.dot
	{
		margin-left:2px;
		width: 6px;
		height: 6px;
	}
	.mentions
	{
		width: 40%;
		margin-top: 10px;
	}
	.mentions a
	{
		font-size: 20px;
	}
	.contact
	{
		width: 40%;
		margin-top: 10px;
	}
	.contact a
	{
		font-size: 20px;
	}
}
@media screen and (max-width: 320px)
{
	.mainmenu
	{
		width: 90%;
	}
	.menu
	{
		width: 80%;
		font-size: 8px;
		height: 350px;
		padding-top: 50%;
	}
	.name h1
	{
		font-size:50px;
	}
	.prochainement
	{
		width: 59%;
	}
	.dot
	{
		margin-top: 10px;
		margin-left: 2px;
	}
	.contacteznous
	{
		height: 40px;
	}
	.mentions
	{
		width: 40%;
	}
	.mentions a
	{
		font-size: 16px;
	}
	.contact
	{
		width: 40%;
	}
	.contact a
	{
		font-size: 16px;
	}
}