body
{
	width: 100%;
}
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.name h1
{
	padding-top: 12px;
	text-align: center;
	font-size:60px;
	width: 100%;
	height: 110px;
	background-color: #49a682;
	color: #e6c11e;
}
.name a
{
	text-decoration: none;
}
.search
{
	display: flex;
	flex-direction: row;
	height: 30px;
	background-color: #c6c9c5;
}
.search input
{
	border: 0px solid;
	outline: none;
	width:95%;
	background-color: #c6c9c5;
}
.fa-search
{
	padding-top: 2px;
	width:5%;
	font-size: 23px;
	text-align: center;
}
ul
{
	list-style: none;
}
.mainmenu
{
	width: 40%;
	margin: auto;
	margin-top: 30px;
}
.menu
{
	border: 1px solid 0;
	width: 48%;
	height:470px;
	margin-top: 14px;
	margin-left: 14px;
	text-align: center;
	padding-top: 40%;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	box-shadow:  0 0 7px 4px #e7e8e3;
	transition: background 0.9s ease-in-out;
   -moz-transition: background 0.9s ease-in-out;
   -webkit-transition: background 0.9s ease-in-out;
}
.menu a
{
	transition: transform 0.9s;
}
.menu:hover a
{
	transform: scale(1.3);
}
.menu h4
{
	margin-top: 12px;
}
.fa-music
{
	font-size: 40px;
	background: linear-gradient(to right, #ab0000 0%,#f79494 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.upper
{
	display: flex;
	flex-direction: row;
}
.lower
{
	display: flex;
	flex-direction: row;
}
#first
{ 
	font-family: 'Felipa';
	background-color: #ffcdbd;
}
#first:hover
{
	background-color: #fadfd7;
}
#first a
{
	text-decoration: none;
	color: #5c0606;
}
#second
{
	 font-family: 'Fresca';
	 background-color: #f4e6f7;
}
#second:hover
{
	 background-color:#faf0fc;
}
#second a
{
	background: linear-gradient(to right, #c97e14 0%,#b977f2 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#third
{
	font-family: 'Alex Brush';
	font-size: 22px;
	background-color: #f0f0eb;
}
#third:hover
{
	background-color: #f5f5f5;
}
#third a
{
	background: linear-gradient(to right,#293d94 0%,#8dc1f2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#fourth
{
	font-family: 'Kaushan Script';
	font-size: 22px;
	background-color: #fffffc;
}
#fourth:hover
{
	background-color: #ffffff;
}
#fourth a
{
	background: linear-gradient(to right,#048f17 0%,#abffa8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.prochainement
{
	background-color: #49a682;
	width: 250px;
	height: 45px;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 80px;
	padding-top: 7px;
	border-radius: 5px;
	text-align:center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.prochainement a
{
	width:78%;
	margin-bottom: 10px;
	text-decoration: none;
	color:#e6c11e;
	font-size: 21px;
	display: flex;
	flex-direction: row;
}
.dots-cont
{
	width: 21%;
	margin-left: 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dot 
{
  width: 7px;
  height: 7px;
  margin-top: 16px;
  background:#e6c11e;
  border-radius: 50%;
  position: relative;
}
.dots-cont .dot-1
{
  animation: wave 2000ms ease-in-out infinite;
}

.dots-cont .dot-2
{
  animation: wave 2000ms 400ms ease-in-out infinite;
 }
.dots-cont .dot-3
{
   animation: wave 2000ms 800ms ease-in-out infinite;
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}
footer
{
  	position: fixed;
 	bottom:0px;
	width: 100%;
	height: 50px;
	background-color: #49a682;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 30px;
	padding-top: 9px;
}
footer a
{
	text-decoration: none;
	color:#e6c11e;
}
footer div:hover
{
	animation: wiggle 75ms infinite;
 	animation-timing-function: linear;
}
@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}
.text
{
	min-height: 100%;
}
.text h3
{
	margin-top: 30px;
}
.text p
{
	margin-top: 20px;
}
@media screen and (max-width: 1024px)
{
	body
	{
		width: 100%;
	}
	.mainmenu
	{
		width: 50%;
	}
	.menu
	{
		width: 50%;
		font-size: 13px;
	}
	.menu #third
	{
		font-size: 8px;
	}
	 .menu #fourth
	{
		font-size: 8px;
	}

}
@media screen and (max-width: 900px)
{
	body
	{
		width: 100%;
	}
	.upper
	{
		flex-direction: column;
	}
	.lower
	{
		flex-direction: column;
	}
	.mainmenu
	{
		width: 60%;
	}
	.menu
	{
		width: 60%;
		font-size: 11px;
		margin: auto;
		margin-top: 30px;
		padding-top: 40%;
	}
	.prochainement
	{
		width: 220px;
		margin: auto;
		margin-top: 18px;
		margin-bottom: 70px;
	}
	.prochainement a
	{
		font-size: 19px;
		margin-bottom: 10px;
	}
	.dot 
	{
  		width: 6px;
  		height: 6px;
  		margin-top: 14px;
  	}
	footer
	{
		width: 100%;
	}
	footer a
	{
		font-size: 25px;
	}
}
@media screen and (max-width: 600px)
{
	.fa-search
	{
		padding-top: 2px;
		width:15%;
	}
	.mainmenu
	{
		width: 80%;
	}
	.menu
	{
		width:80%;
		margin: auto;
		font-size: 13px;
		margin-top: 30px;
		padding-top: 50%;
	}
	.prochainement
	{
		width: 200px;
		height: 38px;
	}
	.prochainement a
	{
		font-size: 17px;
	}
	.dot
	{
		width: 5px;
		height: 5px;
	}
	footer div
	{
		width: 40%;
		margin-top: 6px;
	}
	footer a
	{
		font-size: 17px;
	}
}
@media screen and (max-width: 320px)
{
	.mainmenu
	{
		width: 90%;
	}
	.menu
	{
		width: 80%;
		height: 400px;
		font-size: 9px;
		padding-top: 50%;
	}
	.fa-music
	{
		font-size: 25px;
	}
	header h1
	{
		font-size:50px;
	}
	.prochainement
	{
		width: 190px;
	}
	.dot
	{
		margin-top: 10px;
		margin-left: 3px;
	}
	footer
	{
		height: 40px;
	}
	footer a
	{
		font-size: 16px;
	}
}